#navigation{
    color: red;

}
h2{
    color: seagreen;
    text-align: center;
}

h1{
    text-align: center;
}

a{
    color: seagreen;

}

#Home{
    color: black;
}

#GameIplay{
    color: #ffebcd;
    text-align: center;
}

#GameIplayed{
    color: #ffebcd;
    text-align: center;
}

.bar{
    color: #006d5b;
}